@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@font-face {
    font-family: Cardo;
    src: url(@/assets/cardo_normal_400.woff2) format('woff2');
}

@font-face {
    font-family: LXGW-Wenkai-Screen;
    src: url(@/assets/LXGWWenKaiGBScreen.woff2) format('woff2');
}

@font-face {
    font-family: Roboto;
    src: url(@/assets/Roboto.woff2) format('woff2');
}

@font-face {
    font-family: CrimsomText;
    src: url(@/assets/CrimsonText-Regular.woff2) format('woff2');
};


