html,body,#app{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    width: 100%;
    height: 100%;
    display: block;
    scroll-behavior: smooth;
}
html{
    box-sizing:border-box;
}

body{
    background-color: #f0f0f0;
    
}
#app{
  display: flex; flex-direction: column;
}

*{
  position: relative;
}


.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-active{
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}



body{
  overflow-x: hidden;
}


.n-config-provider{
  display: flex;
  flex-direction: column;
  height: 100%;
}


.focus-trap-target:focus,.focus-trap-target:focus-visible {
  outline: unset;
  /* Use box-shadow instead with smooth shadow */
  /* box-shadow: ; */
 box-shadow: 0 0 3px 3px rgb(42 0 255 / 10%);
}